$primary-color: #EE4266
$secondary-color: #2A1E5C
$black-color: #0A0F0D
$light-color: #F0F4EF
$gray-color: #C4CBCA
$accent-color: #3CBBB1
$blue-color: #0075C4
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-size: 62.5%
    font-family: 'Montserrat', Arial, Helvetica, sans-serif

body
    background-color: $gray-color

img
    object-fit: cover
    width: 100%

input
    font-family: 'Montserrat', Arial, Helvetica, sans-serif

a
    color: $accent-color
    text-decoration: none

@import mixins/basics
@import foundations/sections
@import foundations/header
@import foundations/nav
@import foundations/cover
@import foundations/items
@import foundations/footer
@import foundations/main
@import foundations/overview
@import foundations/stores