$primary-color: #EE4266
$secondary-color: #2A1E5C
$black-color: #0A0F0D
$light-color: #F0F4EF
$gray-color: #C4CBCA
$accent-color: #3CBBB1
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-size: 62.5%
    font-family: 'Montserrat', Arial, Helvetica, sans-serif

body
    background-color: $gray-color

img
    object-fit: cover
    width: 100%

.main
    padding-top: 20px
    min-height: 90vh

@import foundations/sections
@import foundations/header
@import foundations/nav
@import foundations/cover
@import foundations/items
@import foundations/footer